<%- include('../cabecalho') -%>
<main role="main">
    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2">
            <div class="card text-white bg-danger mb-3 text-center" style="height: 100%;">
                <div class="card-header">Venda</div>
                <div class="card-body">
                    <h5 class="card-title">Venda de mercadorias</h5>
                    <p class="card-text">Neste menu são realizadas as vendas de mercadorias do bar.</p>
                    <a class="btn btn-primary" href="/caixa/venda">
                        Venda
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-white bg-danger mb-3 text-center" style="height: 100%;">
                <div class="card-header">Quadras</div>
                <div class="card-body">
                    <h5 class="card-title">Aluguel de quadras</h5>
                    <p class="card-text">Este menu será utilizado para inserir os alugueis das quadras no dia.</p>
                    <a href="/caixa/quadra" class="btn btn-primary">
                        Quadras
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-white bg-danger mb-3 text-center" style="height: 100%;">
                <div class="card-header">Entrada</div>
                <div class="card-body">
                    <h5 class="card-title">Entrada de mercadorias</h5>
                    <p class="card-text">Neste menu temos a entrada de mercadorias no estoque da empresa.</p>
                    <a class="btn btn-primary" href="/caixa/entrada">
                        Entrada
                    </a>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2">
            <div class="card text-white bg-danger mb-3 text-center" style="height: 100%;">
                <div class="card-header">Manutenção</div>
                <div class="card-body">
                    <h5 class="card-title">Manutenção das quadras e bar</h5>
                    <p class="card-text">Neste menu serão inseridos os gastos com manutenções gerais na quadra.
                    </p>
                    <a class="btn btn-primary" href="/caixa/manutencao">
                        Manutenção
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-white bg-danger mb-3 text-center" style="height: 100%;">
                <div class="card-header">Quebra</div>
                <div class="card-body">
                    <h5 class="card-title">Quebra de mercadorias</h5>
                    <p class="card-text">Este menu será utilizado para colocar as quebras em mercadorias.</p>
                    <a class="btn btn-primary" href="/caixa/quebra">
                        Quebra
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
    </div><!-- /.row -->

<%- include('../rodape') -%>