<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
</head>
<body>
    <h1>lOGIN ALVIRRUBRO</h1>   
    <form method="post">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Sign in</button>
    <div class="image">
        <img src="/admin/images/dav.jpg" width="500" height="400"   alt="User"  /> 
        <img src="/admin/images/wel.jpeg" width="500" height="400"   alt="User"  /> 
        <img src="/admin/images/raf.jpeg" width="400" height="400"   alt="User"  /> 
        <img src="/admin/images/mois.jpg" width="403" height="400"   alt="User"  /> 
        <img src="/admin/images/rb.jpg" width="400" height="400"   alt="User"  /> 
        <img src="/admin/images/jor.jpg" width="400" height="400"   alt="User"  /> 
        <img src="/admin/images/mp.jpeg" width="400" height="400"   alt="User"  /> 
        <img src="/admin/images/m10.jpg" width="593" height="400"   alt="User"  /> 

        
        <body bgcolor="GRAY"> 
            
           </body>

    </div>
</form>
</body>
</html>